<html>
<head>
	<title> SHAKESPEARE NATURAL LANGUAGE ENGINE by Ram M Kripa </title>
</head>
	<body>
		<header> 
			<h1> About this project </h1>
		</header>
		<p> 
			This is a Natural Language project. My python program takes in all of Shakespeare, classifies all of its
			words into types, and generates either random Haiku poetry or random sentences 
		</p>
		<p>
			Random Haiku
		</p>
			<a href="/generatehaiku"><input type="button" value="Generate Haiku"/></a>
		<p>
			Random Sentence
		</p>
			<a href="/generatesentence"><input type="button" value="Generate Sentence"/></a>
	</body>
</html>